<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
   <soapenv:Body>
      <bcs:QueryCustomerInfoResultMsg xmlns:bcs="http://www.huawei.com/bme/cbsinterface/bcservices" xmlns:bcc="http://www.huawei.com/bme/cbsinterface/bccommon" xmlns:cbs="http://www.huawei.com/bme/cbsinterface/cbscommon">
         <ResultHeader>
            <cbs:Version>1</cbs:Version>
            <cbs:ResultCode>0</cbs:ResultCode>
            <cbs:ResultDesc>Operation successfully.</cbs:ResultDesc>
         </ResultHeader>
         <QueryCustomerInfoResult>
            <bcs:Customer>
               <bcs:CustKey>86420123299112</bcs:CustKey>
               <bcs:CustInfo>
                  <bcc:CustType>1</bcc:CustType>
                  <bcc:CustNodeType>1</bcc:CustNodeType>
                  <bcc:CustClass>1</bcc:CustClass>
                  <bcc:CustCode>86420123299112</bcc:CustCode>
                  <bcc:CustBasicInfo>
                     <bcc:DFTWrittenLang>2040</bcc:DFTWrittenLang>
                     <bcc:DFTIVRLang>2040</bcc:DFTIVRLang>
                     <bcc:DunningFlag>1</bcc:DunningFlag>
                     <bcc:CustProperty>
                        <bcc:Code>C_CUST_SALT</bcc:Code>
                        <bcc:Value>23A3D062E5C12B7B</bcc:Value>
                     </bcc:CustProperty>
                     <bcc:CustProperty>
                        <bcc:Code>C_CUST_BANKRUPTCY</bcc:Code>
                        <bcc:Value>N</bcc:Value>
                     </bcc:CustProperty>
                     <bcc:CustProperty>
                        <bcc:Code>C_FRAUD_FLAG</bcc:Code>
                        <bcc:Value>N</bcc:Value>
                     </bcc:CustProperty>
                     <bcc:CustProperty>
                        <bcc:Code>C_CUST_MEDIA_FLAG</bcc:Code>
                        <bcc:Value>N</bcc:Value>
                     </bcc:CustProperty>
                     <bcc:CustProperty>
                        <bcc:Code>C_CUST_DECEASED</bcc:Code>
                        <bcc:Value>N</bcc:Value>
                     </bcc:CustProperty>
                     <bcc:CustProperty>
                        <bcc:Code>C_CUST_BILLSUM</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:CustProperty>
                     <bcc:CustProperty>
                        <bcc:Code>C_REG_FLAG</bcc:Code>
                        <bcc:Value>N</bcc:Value>
                     </bcc:CustProperty>
                     <bcc:CustProperty>
                        <bcc:Code>C_CUST_MARKETING_CONSENT</bcc:Code>
                        <bcc:Value>N</bcc:Value>
                     </bcc:CustProperty>
                     <bcc:CustProperty>
                        <bcc:Code>C_CUST_BelToAreaID</bcc:Code>
                        <bcc:Value>101</bcc:Value>
                     </bcc:CustProperty>
                  </bcc:CustBasicInfo>
               </bcs:CustInfo>
               <bcs:IndividualInfo>
                  <bcc:IndividualProperty>
                     <bcc:Code>C_MKT_P_STATUS</bcc:Code>
                     <bcc:Value>1</bcc:Value>
                  </bcc:IndividualProperty>
               </bcs:IndividualInfo>
               <bcs:SiteInfo>
                  <bcc:PrimarySite>1</bcc:PrimarySite>
                  <bcc:SecondarySite>2</bcc:SecondarySite>
               </bcs:SiteInfo>
            </bcs:Customer>
            <bcs:Subscriber>
               <bcs:SubscriberKey>86420123299112</bcs:SubscriberKey>
               <bcs:SubscriberInfo>
                  <bcc:SubBasicInfo>
                     <bcc:WrittenLang>2040</bcc:WrittenLang>
                     <bcc:IVRLang>2040</bcc:IVRLang>
                     <bcc:DunningFlag>1</bcc:DunningFlag>
                     <bcc:SubProperty>
                        <bcc:Code>C_FIRST_RECHARGE_FLAG</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_AUTOTOPUP_LOWBALANCE</bcc:Code>
                        <bcc:Value>1</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_SALT</bcc:Code>
                        <bcc:Value>ADE354025C7941A9</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_FIRST_RECHARGE_DATE</bcc:Code>
                        <bcc:Value>20190523180910</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_DAILYRENTNOTIFLAG</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_REGISTERED_RETAILER</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_RNW_PRODUCTSET</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_IS_GROUP_MEMBER</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_TSMSUBTYPE</bcc:Code>
                        <bcc:Value>-1</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_MAX_BALANCE</bcc:Code>
                        <bcc:Value>-1</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_DTNotification</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_STARTTIME_OF_SWITCH_COS</bcc:Code>
                        <bcc:Value>-1</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_BARRED_DAYS</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_USER_NAME</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_TEST_EXHAUST_RULE</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_UNBLOCK</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_ETU_STAGE_PERCENT</bcc:Code>
                        <bcc:Value>100</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_REGISTERED</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_LOAN_FLAG</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_VOD_VIDEO_RIGHT</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_LASTRECHARGETIME</bcc:Code>
                        <bcc:Value>20190523190810</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_ONNET_YEARS</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_PORT_IN_FLAG</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_LOW_BAL_GATE_1</bcc:Code>
                        <bcc:Value>-1</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_LOW_BAL_GATE_2</bcc:Code>
                        <bcc:Value>-1</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_LOW_BAL_GATE_3</bcc:Code>
                        <bcc:Value>-1</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_LOW_BAL_GATE_4</bcc:Code>
                        <bcc:Value>-1</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_LOW_BAL_GATE_5</bcc:Code>
                        <bcc:Value>-1</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_AUTOTOPUP_RECURRING</bcc:Code>
                        <bcc:Value>1</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_LOAN_STATUS</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_IOD_FLAG</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_LASTRECHARGEAMT</bcc:Code>
                        <bcc:Value>1000</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_HYBRID_PAY_TYPE</bcc:Code>
                        <bcc:Value>-1</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_LAST_DATA_SESINI</bcc:Code>
                        <bcc:Value>19700101150000</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUBCOS_FOR_EIPIN</bcc:Code>
                        <bcc:Value>-1</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_APP_ACTIVE_USAGE</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_MAX_VALIDITY</bcc:Code>
                        <bcc:Value>365</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_TEST_EXTEND_DAYS</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUBDISCOUNT</bcc:Code>
                        <bcc:Value>O</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_BARRINGCODE</bcc:Code>
                        <bcc:Value>99999999999</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_AGE</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_ONNET_MONTHS</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_SUB_ONNET_DAYS</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                     <bcc:SubProperty>
                        <bcc:Code>C_IS_PRIMARY_SUBSCRIBER</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:SubProperty>
                  </bcc:SubBasicInfo>
                  <bcc:UserCustomerKey>86420123299112</bcc:UserCustomerKey>
                  <bcc:SubIdentity>
                     <bcc:SubIdentityType>1</bcc:SubIdentityType>
                     <bcc:SubIdentity>864201232</bcc:SubIdentity>
                     <bcc:PrimaryFlag>1</bcc:PrimaryFlag>
                  </bcc:SubIdentity>
                  <bcc:SubIdentity>
                     <bcc:SubIdentityType>2</bcc:SubIdentityType>
                     <bcc:SubIdentity>86420123299112</bcc:SubIdentity>
                     <bcc:PrimaryFlag>2</bcc:PrimaryFlag>
                  </bcc:SubIdentity>
                  <bcc:Brand>1</bcc:Brand>
                  <bcc:SubClass>1</bcc:SubClass>
                  <bcc:NetworkType>1</bcc:NetworkType>
                  <bcc:Status>2</bcc:Status>
                  <bcc:ActiveTimeLimit>20201231235959</bcc:ActiveTimeLimit>
                  <bcs:StatusDetail>000000000000000000000000</bcs:StatusDetail>
                  <bcs:ActivationTime>20190523180842</bcs:ActivationTime>
                  <bcs:UserCustomer>
                     <bcs:CustKey>86420123299112</bcs:CustKey>
                     <bcs:CustInfo>
                        <bcc:CustType>1</bcc:CustType>
                        <bcc:CustNodeType>1</bcc:CustNodeType>
                        <bcc:CustClass>1</bcc:CustClass>
                        <bcc:CustCode>86420123299112</bcc:CustCode>
                        <bcc:CustBasicInfo>
                           <bcc:DFTWrittenLang>2040</bcc:DFTWrittenLang>
                           <bcc:DFTIVRLang>2040</bcc:DFTIVRLang>
                           <bcc:DunningFlag>1</bcc:DunningFlag>
                           <bcc:CustProperty>
                              <bcc:Code>C_CUST_SALT</bcc:Code>
                              <bcc:Value>23A3D062E5C12B7B</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_CUST_BANKRUPTCY</bcc:Code>
                              <bcc:Value>N</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_FRAUD_FLAG</bcc:Code>
                              <bcc:Value>N</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_CUST_MEDIA_FLAG</bcc:Code>
                              <bcc:Value>N</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_CUST_DECEASED</bcc:Code>
                              <bcc:Value>N</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_CUST_BILLSUM</bcc:Code>
                              <bcc:Value>0</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_REG_FLAG</bcc:Code>
                              <bcc:Value>N</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_CUST_MARKETING_CONSENT</bcc:Code>
                              <bcc:Value>N</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_CUST_BelToAreaID</bcc:Code>
                              <bcc:Value>101</bcc:Value>
                           </bcc:CustProperty>
                        </bcc:CustBasicInfo>
                     </bcs:CustInfo>
                     <bcs:IndividualInfo>
                        <bcc:IndividualProperty>
                           <bcc:Code>C_MKT_P_STATUS</bcc:Code>
                           <bcc:Value>1</bcc:Value>
                        </bcc:IndividualProperty>
                     </bcs:IndividualInfo>
                  </bcs:UserCustomer>
               </bcs:SubscriberInfo>
               <bcs:PaymentMode>0</bcs:PaymentMode>
               <bcs:PrimaryOffering>
                  <bcc:OfferingKey>
                     <bcc:OfferingID>1015848246</bcc:OfferingID>
                     <bcc:PurchaseSeq>257028</bcc:PurchaseSeq>
                  </bcc:OfferingKey>
                  <bcc:BundledFlag>S</bcc:BundledFlag>
                  <bcc:OfferingClass>I</bcc:OfferingClass>
                  <bcc:Status>2</bcc:Status>
                  <bcc:ProductInst>
                     <bcc:ProductID>1025</bcc:ProductID>
                     <bcc:PrimaryFlag>A</bcc:PrimaryFlag>
                     <bcc:PackageFlag>A</bcc:PackageFlag>
                     <bcc:NetworkType>0</bcc:NetworkType>
                     <bcc:ProductType>5</bcc:ProductType>
                  </bcc:ProductInst>
                  <bcc:ProductInst>
                     <bcc:ProductID>1822969218</bcc:ProductID>
                     <bcc:PrimaryFlag>A</bcc:PrimaryFlag>
                     <bcc:PackageFlag>A</bcc:PackageFlag>
                     <bcc:NetworkType>1</bcc:NetworkType>
                     <bcc:ProductType>1</bcc:ProductType>
                  </bcc:ProductInst>
                  <bcc:ProductInst>
                     <bcc:ProductID>1011</bcc:ProductID>
                     <bcc:PrimaryFlag>A</bcc:PrimaryFlag>
                     <bcc:PackageFlag>A</bcc:PackageFlag>
                     <bcc:NetworkType>1</bcc:NetworkType>
                     <bcc:ProductType>1</bcc:ProductType>
                  </bcc:ProductInst>
                  <bcc:ProductInst>
                     <bcc:ProductID>1042</bcc:ProductID>
                     <bcc:PrimaryFlag>A</bcc:PrimaryFlag>
                     <bcc:PackageFlag>A</bcc:PackageFlag>
                     <bcc:NetworkType>1</bcc:NetworkType>
                     <bcc:ProductType>1</bcc:ProductType>
                  </bcc:ProductInst>
                  <bcc:ProductInst>
                     <bcc:ProductID>1014</bcc:ProductID>
                     <bcc:PrimaryFlag>A</bcc:PrimaryFlag>
                     <bcc:PackageFlag>A</bcc:PackageFlag>
                     <bcc:NetworkType>1</bcc:NetworkType>
                     <bcc:ProductType>1</bcc:ProductType>
                  </bcc:ProductInst>
                  <bcc:ProductInst>
                     <bcc:ProductID>1053</bcc:ProductID>
                     <bcc:PrimaryFlag>M</bcc:PrimaryFlag>
                     <bcc:PackageFlag>A</bcc:PackageFlag>
                     <bcc:NetworkType>1</bcc:NetworkType>
                     <bcc:ProductType>1</bcc:ProductType>
                  </bcc:ProductInst>
               </bcs:PrimaryOffering>
               <bcs:SupplementaryOffering>
                  <bcc:OfferingKey>
                     <bcc:OfferingID>1017229800</bcc:OfferingID>
                     <bcc:PurchaseSeq>256006</bcc:PurchaseSeq>
                  </bcc:OfferingKey>
                  <bcc:BundledFlag>S</bcc:BundledFlag>
                  <bcc:OfferingClass>I</bcc:OfferingClass>
                  <bcc:Status>2</bcc:Status>
                  <bcc:ProductInst>
                     <bcc:ProductID>1010</bcc:ProductID>
                     <bcc:PrimaryFlag>A</bcc:PrimaryFlag>
                     <bcc:PackageFlag>A</bcc:PackageFlag>
                     <bcc:NetworkType>1</bcc:NetworkType>
                     <bcc:ProductType>4</bcc:ProductType>
                  </bcc:ProductInst>
                  <bcs:EffectiveTime>20190523181038</bcs:EffectiveTime>
                  <bcs:ExpirationTime>20201105163000</bcs:ExpirationTime>
                  <bcs:ActivationMode>A</bcs:ActivationMode>
                  <bcs:ActivationTime>20190523181038</bcs:ActivationTime>
               </bcs:SupplementaryOffering>
            </bcs:Subscriber>
            <bcs:Account>
               <bcs:AcctKey>86420123299112</bcs:AcctKey>
               <bcs:AcctInfo>
                  <bcs:AcctCode>86420123299112</bcs:AcctCode>
                  <bcs:UserCustomerKey>86420123299112</bcs:UserCustomerKey>
                  <bcs:UserCustomer>
                     <bcs:CustKey>86420123299112</bcs:CustKey>
                     <bcs:CustInfo>
                        <bcc:CustType>1</bcc:CustType>
                        <bcc:CustNodeType>1</bcc:CustNodeType>
                        <bcc:CustClass>1</bcc:CustClass>
                        <bcc:CustCode>86420123299112</bcc:CustCode>
                        <bcc:CustBasicInfo>
                           <bcc:DFTWrittenLang>2040</bcc:DFTWrittenLang>
                           <bcc:DFTIVRLang>2040</bcc:DFTIVRLang>
                           <bcc:DunningFlag>1</bcc:DunningFlag>
                           <bcc:CustProperty>
                              <bcc:Code>C_CUST_SALT</bcc:Code>
                              <bcc:Value>23A3D062E5C12B7B</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_CUST_BANKRUPTCY</bcc:Code>
                              <bcc:Value>N</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_FRAUD_FLAG</bcc:Code>
                              <bcc:Value>N</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_CUST_MEDIA_FLAG</bcc:Code>
                              <bcc:Value>N</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_CUST_DECEASED</bcc:Code>
                              <bcc:Value>N</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_CUST_BILLSUM</bcc:Code>
                              <bcc:Value>0</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_REG_FLAG</bcc:Code>
                              <bcc:Value>N</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_CUST_MARKETING_CONSENT</bcc:Code>
                              <bcc:Value>N</bcc:Value>
                           </bcc:CustProperty>
                           <bcc:CustProperty>
                              <bcc:Code>C_CUST_BelToAreaID</bcc:Code>
                              <bcc:Value>101</bcc:Value>
                           </bcc:CustProperty>
                        </bcc:CustBasicInfo>
                     </bcs:CustInfo>
                     <bcs:IndividualInfo>
                        <bcc:IndividualProperty>
                           <bcc:Code>C_MKT_P_STATUS</bcc:Code>
                           <bcc:Value>1</bcc:Value>
                        </bcc:IndividualProperty>
                     </bcs:IndividualInfo>
                  </bcs:UserCustomer>
                  <bcs:RootAcctKey>86420123299112</bcs:RootAcctKey>
                  <bcs:AcctBasicInfo>
                     <bcc:BillLang>2040</bcc:BillLang>
                     <bcc:DunningFlag>1</bcc:DunningFlag>
                     <bcc:LateFeeChargeable>N</bcc:LateFeeChargeable>
                     <bcc:RedlistFlag>0</bcc:RedlistFlag>
                     <bcc:AcctProperty>
                        <bcc:Code>C_POINT_EXCHANGE_FLAG</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_POINT_DISTRIBUTE_RATE</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_ACCT_AUTOPAY_FAILCOUNTER</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_ACCOUNT_TAX_EXEMPTION</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_POINT_ACCM_FLAG</bcc:Code>
                        <bcc:Value>1</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_CHG_ACCT_STATUS</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_ACCT_BILLFLAG</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_CREDIT_RECALCULATION_FLAG</bcc:Code>
                        <bcc:Value>N</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_CLAIM_FLAG</bcc:Code>
                        <bcc:Value>N</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_DUNNING_EXCEPTION_LIST</bcc:Code>
                        <bcc:Value>0000</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_BILL_TYPE</bcc:Code>
                        <bcc:Value>T</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_BUSINESS_TYPE</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_LATEFEE_FLAG</bcc:Code>
                        <bcc:Value>N</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_FRAUD_WRITEOFF_FLAG</bcc:Code>
                        <bcc:Value>N</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_ACCTCYCLELENGTH</bcc:Code>
                        <bcc:Value>1</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_BILL_CONFIRM</bcc:Code>
                        <bcc:Value>N</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_DVD_IDX</bcc:Code>
                        <bcc:Value>N</bcc:Value>
                     </bcc:AcctProperty>
                     <bcc:AcctProperty>
                        <bcc:Code>C_ACCT_STATUS</bcc:Code>
                        <bcc:Value>0</bcc:Value>
                     </bcc:AcctProperty>
                  </bcs:AcctBasicInfo>
                  <bcs:BillCycleType>01</bcs:BillCycleType>
                  <bcs:AcctType>1</bcs:AcctType>
                  <bcs:PaymentType>0</bcs:PaymentType>
                  <bcs:AcctClass>1</bcs:AcctClass>
                  <bcs:CurrencyID>1141</bcs:CurrencyID>
                  <bcs:AcctPayMethod>1</bcs:AcctPayMethod>
                  <bcs:BillCycleOpenDate>20190501000000</bcs:BillCycleOpenDate>
                  <bcs:BillCycleEndDate>20190601000000</bcs:BillCycleEndDate>
               </bcs:AcctInfo>
            </bcs:Account>
         </QueryCustomerInfoResult>
      </bcs:QueryCustomerInfoResultMsg>
   </soapenv:Body>
</soapenv:Envelope>